<div class="flex flex-col items-center">

<h2 class="font-bold text-2xl">Lista de todos los alumnos</h2>
<span class="flex flex-row my-4">
    <input type="text" [(ngModel)]="cedulaABuscar" placeholder="Buscar por cédula">
    <button (click)="buscarAlumnosPorCedula()">Buscar</button>
</span>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg rounded-2xl">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 rounded-2xl">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 rounded-2xl">
            <tr>
                <th scope="col" class="px-6 py-3">Cédula</th>
                <th scope="col" class="px-6 py-3">Nombre</th>
                <th scope="col" class="px-6 py-3">Apellido</th>
                <th scope="col" class="px-6 py-3">Puntaje Total</th>
            </tr>
      </thead>
  <tbody>
    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700" *ngFor="let alumno of alumnosFiltrados">
        <th scope="row" class="px-6 py-4 font-bold text-gray-900 whitespace-nowrap dark:text-white">
            {{ alumno.cedula }}
        </th>
        <td class="px-6 py-4">{{ alumno.nombre }}</td>
        <td class="px-6 py-4">{{ alumno.apellido }}</td>
        <td class="px-6 py-4">{{ alumno.puntajeTotal }}</td>
    </tr>
  </tbody>
</table>
</div>
</div>