.admin-dashboard {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  flex-direction: column; 
}

.admin-dashboard h2 {
  margin-bottom: 60px; 
}

.admin-dashboard nav button {
  padding: 20px 40px; 
  background-color: #007bff; 
  color: white;
  border: none; 
  border-radius: 10px; 
  cursor: pointer; 
  font-size: 1.5rem; 
  margin-bottom: 20px; 
}

.admin-dashboard nav button:hover {
  background-color: #0056b3; }