<div class="student-dashboard content-center h-full">
    <h2 class="font-bold text-2xl">Bienvenido, {{ this.usuario.nombre || 'Usuario' }}</h2>
    <div class="flex flex-col">
        <a href="/student-dashboard/predicciones" class="bg-lime-600 w-96 h-16 mb-2 content-center rounded-md hover:bg-lime-500 hover:text-gray-800">
            <p>
                Predicciones
            </p>
        </a>
        <a href="/student-dashboard/ranking" class="bg-lime-600 w-96 h-16 mb-2 content-center rounded-md hover:bg-lime-500 hover:text-gray-800">
            Ranking
        </a>
        <a href="/student-dashboard/datos" class="bg-lime-600 w-96 h-16 mb-2 content-center rounded-md hover:bg-lime-500 hover:text-gray-800">
            Mis datos
        </a>
    </div>
</div>