.registrar-partido-container {
    width: 400px;
    margin: auto;
  }

  .registrar-partido-container h2 {
    text-align: center;
  }

  .registrar-partido-container form {
    display: flex;
    flex-direction: column;
  }

