<div class="registrar-partido-container">
    <h2>Registrar Nuevo Partido</h2>
    <form (submit)="registrarPartido()">
        <div>
            <label for="etapa">Etapa:</label>
            <select id="etapa" name="etapa" [(ngModel)]="nuevoPartido.etapa" required>
              <option value="1">Fase de grupos</option>
              <option value="2">Octavos</option>
              <option value="3">Cuartos</option>
              <option value="4">Semifinales</option>
              <option value="4">Final</option>
             
            </select>
          </div>
      <div class="form-group">
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" [(ngModel)]="nuevoPartido.fecha" required>
      </div>
      <div class="form-group">
        <label for="equipoE1">Equipo 1:</label>
        <select id="equipoE1" name="equipoE1" [(ngModel)]="nuevoPartido.equipo_E1" required>
          <option *ngFor="let equipo of equipos" [value]="equipo.abreviatura">{{ equipo.pais }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="equipoE2">Equipo 2:</label>
        <select id="equipoE2" name="equipoE2" [(ngModel)]="nuevoPartido.equipo_E2" required>
          <option *ngFor="let equipo of equipos" [value]="equipo.abreviatura">{{ equipo.pais }}</option>
        </select>
      </div>
      <button type="submit">Registrar Partido</button>
    </form>
  </div>
  