<div class="registro-container">
  <h2>Registro de Alumno</h2>
  <form (ngSubmit)="registrar()">
    <div class="form-group">
      <label for="cedula">Cédula:</label>
      <input type="text" id="cedula" name="cedula" [(ngModel)]="alumno.cedula" required>
    </div>
    <div class="form-group">
      <label for="contrasena">Contraseña:</label>
      <input type="password" id="contrasena" name="contrasena" [(ngModel)]="alumno.contrasena" required>
    </div>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="alumno.nombre" required>
    </div>
    <div class="form-group">
      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido" name="apellido" [(ngModel)]="alumno.apellido" required>
    </div>
    <div class="form-group">
      <label for="fechaNacimiento">Fecha de Nacimiento:</label>
      <input type="date" id="fechaNacimiento" name="fechaNacimiento" [(ngModel)]="alumno.fechaNacimiento" required>
    </div>
    <div class="form-group">
      <label for="carrera">Carrera:</label>
      <select id="carrera" name="carrera" [(ngModel)]="alumno.carrera" required>
        <option *ngFor="let carrera of carreras" [value]="carrera.id">{{ carrera.nombre }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="anioIngreso">Año de Ingreso:</label>
      <input type="number" id="anioIngreso" name="anioIngreso" [(ngModel)]="alumno.anioIngreso" required>
    </div>
    <div class="form-group">
      <label for="semestreIngreso">Semestre de Ingreso:</label>
      <select id="semestreIngreso" name="semestreIngreso" [(ngModel)]="alumno.semestreIngreso" required>
        <option value="1">Marzo</option>
        <option value="2">Agosto</option>
      </select>
    </div>
    <div class="form-group">
      <label for="campeon">Campeón:</label>
      <select id="campeon" name="campeon" [(ngModel)]="alumno.campeon" required>
        <option *ngFor="let equipo of equipos" [value]="equipo.abreviatura">{{ equipo.pais }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="subcampeon">Subcampeón:</label>
      <select id="subcampeon" name="subcampeon" [(ngModel)]="alumno.subcampeon" required>
        <option *ngFor="let equipo of equipos" [value]="equipo.abreviatura">{{ equipo.pais }}</option>
      </select>
    </div>
    
    <button type="submit">Registrar</button>
  </form>
</div>
