
<h3>Lista de todos los partidos</h3>
<table>
  <thead>
    <tr>
      <th>Equipo A</th>
      <th>Equipo B</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Resultado E1</th>
      <th>Resultado E2</th>
      <th> Accion </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let partido of partidos">
      <td>{{ partido.Equipo_E1 }}</td>
      <td>{{ partido.Equipo_E2}}</td>
      <td>{{ partido.Fecha | date }}</td>
      <td>{{ partido.Hora }}</td>
      <td>{{ partido.Resultado_E1 }}</td>
      <td>{{ partido.Resultado_E2 }}</td>
      <td> <button (click)="editarPartido(partido.Id)">Editar</button></td> 
    </tr>
  </tbody>
</table>