<h3>Lista de todos los partidos</h3>

<div *ngFor="let grupo of partidosPorEtapa">
  <h4>Etapa {{ grupo.etapa }}</h4>
  <table>
    <thead>
      <tr>
        <th>Equipo A</th>
        <th>Equipo B</th>
        <th>Fecha</th>
        <th></th>
        <th>Resultado E1</th>
        <th>Resultado E2</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let partido of grupo.partidos">
        <td>{{ partido.equipo_E1 }}</td>
        <td>{{ partido.equipo_E2 }}</td>
        <td>{{ partido.fecha | date }}</td>
        <td>{{ ((partido.resultado_E1 != null) && (partido.resultado_E1 >= 0)) ? partido.resultado_E1 : '-' }}</td>
        <td>{{ ((partido.resultado_E2 != null) && (partido.resultado_E2 >= 0)) ? partido.resultado_E2 : '-' }}</td>
        <td><button (click)="editarPartido(partido.id)">Editar</button></td>
      </tr>
    </tbody>
  </table>
</div>
<button routerLink="/registrar-partido">Registrar nuevo partido</button>
