<h3>Lista de todos los partidos</h3>

<div *ngIf="!this.predicciones || this.predicciones.length <= 0">
    <h3>No hay partidos disponibles</h3>
</div>

<div *ngFor="let grupo of partidosPorEtapa">
  <h4>Etapa {{ grupo.etapa }}</h4>
  <table>
    <thead>
      <tr>
        <th>Equipo 1</th>
        <th>Equipo 2</th>
        <th>Fecha</th>
        <th>Resultado Equipo 1</th>
        <th>Resultado Equipo 2</th>
        <th>Predicción Equipo 1</th>
        <th>Predicción Equipo 2</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prediccion of grupo.predicciones">
        <td>{{ prediccion.partido.equipo_E1.pais }}</td>
        <td>{{ prediccion.partido.equipo_E2.pais }}</td>
        <td>{{ prediccion.partido.fecha | date }}</td>
        <td>{{ ((prediccion.partido.resultado_E1 != null) && (prediccion.partido.resultado_E1 >= 0)) ? prediccion.partido.resultado_E1 : '-' }}</td>
        <td>{{ ((prediccion.partido.resultado_E2 != null) && (prediccion.partido.resultado_E2 >= 0)) ? prediccion.partido.resultado_E2 : '-' }}</td>
        <td>
          <input type="number" [(ngModel)]="prediccion.prediccion_E1" placeholder="Predicción E1">
        </td>
        <td>
          <input type="number" [(ngModel)]="prediccion.prediccion_E2" placeholder="Predicción E2">
        </td>
        <td>
          <button (click)="guardarPrediccion(prediccion)">Guardar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>