/* Estilos para el contenedor del puntaje */
.puntaje {
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* Estilos para el título del puntaje */
  .puntaje h2 {
    margin: 0;
    font-size: 24px;
  }

  /* Estilos para el párrafo del puntaje */
  .puntaje p {
    font-size: 36px;
    margin: 10px 0 0 0;
    font-weight: bold;
  }
