<div *ngIf="usuarioAutenticado">
    <h2>Mis Datos</h2>
    <p><strong>Nombre:</strong> {{ usuarioAutenticado.nombre }}</p>
    <p><strong>Apellido:</strong> {{ usuarioAutenticado.apellido }}</p>
    <p><strong>Cédula:</strong> {{ usuarioAutenticado.cedula }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ usuarioAutenticado.fechaNacimiento | date }}</p>
    <p><strong>Año de Ingreso:</strong> {{ usuarioAutenticado.anioIngreso }}</p>
    <p><strong>Semestre de Ingreso:</strong> {{ usuarioAutenticado.semestreIngreso }}</p>
    <p><strong>Campeon: </strong>{{usuarioAutenticado.campeon}}</p>
    <p><strong>SubCampeon: </strong>{{usuarioAutenticado.subcampeon}}</p>
  
  </div> 
  
